
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v14/.suo
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/.suo
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/Browse.VC.db
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/ipch/AutoPCH/17adfe4b461d12c5/D3DUTIL.ipch
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/ipch/AutoPCH/6c8a534ee69a71f6/D3DAPP.ipch
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/ipch/AutoPCH/a389704badeca86a/BOXAPP.ipch
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/ipch/AutoPCH/dccba13a3e7f6985/GAMETIMER.ipch
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/ipch/AutoPCH/dcd7d8042bed31a2/MATHHELPER.ipch
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.exe
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.exe.recipe
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.ilk
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.log
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.pdb
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.tlog/Box.lastbuildstate
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.tlog/CL.command.1.tlog
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.tlog/CL.read.1.tlog
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.tlog/CL.write.1.tlog
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.tlog/link.command.1.tlog
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.tlog/link.read.1.tlog
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.tlog/link.write.1.tlog
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.vcxproj.FileListAbsolute.txt
Chapter 6 Drawing in Direct3D/Box/x64/Debug/BoxApp.obj
Chapter 6 Drawing in Direct3D/Box/x64/Debug/d3dApp.obj
Chapter 6 Drawing in Direct3D/Box/x64/Debug/d3dUtil.obj
Chapter 6 Drawing in Direct3D/Box/x64/Debug/GameTimer.obj
Chapter 6 Drawing in Direct3D/Box/x64/Debug/MathHelper.obj
Chapter 6 Drawing in Direct3D/Box/x64/Debug/vc142.idb
Chapter 6 Drawing in Direct3D/Box/x64/Debug/vc142.pdb
*.ipch
*.asm
*.tlog
*.obj
*.exe
*.ilk
*.log
*.pdb
Chapter 7 Drawing in Direct3D Part II/LandAndWaves/x64/Debug/LandAndWaves.vcxproj.FileListAbsolute.txt
*.idb
Chapter 7 Drawing in Direct3D Part II/Shapes/x64/Debug/Shapes.vcxproj.FileListAbsolute.txt
Chapter 8 Lighting/LitColumns/x64/Release/LitColumns.vcxproj.FileListAbsolute.txt
Chapter 8 Lighting/LitColumns/x64/Release/LitColumns.ipdb
Chapter 8 Lighting/LitColumns/x64/Release/LitColumns.iobj
Chapter 8 Lighting/LitColumns/x64/Release/LitColumns.exe.recipe
